<div.checkboxTitle>
  <input type="checkbox" />
  <div.checkboxDesc>${data.title}</div>
</div>

style {
  .checkboxTitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .checkboxDesc {
      margin-left: 10px;
      font-size: 14px;
      color: #fff;
    }
  }
}