<div.inputBox>
  <div.inputDesc>${data.title}</div>
  <input />
</div>

style {
  .inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    .inputDesc {
      margin-bottom: 2px;
      color: #fff;
      font-size: 14px;
    }
    input {
      height: 30px;
      margin: 0;
      border-radius: 5px;
    }
  }
}